In [16]:
import pandas as pd

path = "C:/Users/rapa/Desktop/빅데이터분석기사실기/basic1(t110).csv"
a = pd.read_csv(path)
print(a.head())
aa

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

       id    age city    f1  f2   f3    f4         f5
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울  50.0   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
5    id06   22.0   서울  57.0   0  vip  INTP  20.129444
6    id07   36.3   서울  60.0   1  NaN  ISFJ   9.796378
..    ...    ...  ...   ...  ..  ...   ...        ...
94   id95   77.0   경기  43.0   1  NaN  INTJ  91.297791
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기  50.0   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[82 rows x 8 columns]

In [4]:
aa = a[a['age']>20]

In [14]:
# ** aa['f1'].mode() 최빈값 채우기 


aa['f1'].fillna(aa['f1'].mode()[0])

2     61.0
3     50.0
4     85.0
5     57.0
6     60.0
      ...
94    43.0
95    53.0
96    50.0
97    58.0
99    53.0
Name: f1, Length: 82, dtype: float64

In [31]:
import numpy as np
pre_arr = abs(box_ds - yeo_ds)

result = np.round(sum(pre_arr),2)

print(result)

[38.13]

In [32]:
# power_transform 계산
# box-cox , yeo-johnson -> 정규분포에 가깝게 변환하는 통계 기법
from sklearn.preprocessing import power_transform

ds = aa[['f1']]
# box-cox 계산
box_ds = power_transform(ds, method = 'box-cox', standardize=False)

yeo_ds = power_transform(ds, standardize=False)

In [36]:
np.round(np.sum(np.abs(box_ds-yeo_ds)),2)

38.13