In [1]:
import pandas as pd

path = "C:/Users/rapa/Desktop/빅데이터분석기사실기/basic1(t111).csv"
df = pd.read_csv(path)
print(df.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
from sklearn.preprocessing import MinMaxScaler
# 1열만 수행할 때는 대괄호를 두번 사용한다.

mm = MinMaxScaler()

df['n'] = mm.fit_transform(df[['f5']])
print(df)

       id    age city    f1  f2   f3    f4         f5         n
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791  0.919533
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826  0.570252
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986  0.084129
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078  0.483685
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869  0.219708
..    ...    ...  ...   ...  ..  ...   ...        ...       ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078  0.483685
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373  0.655395
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899  1.000000
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034  0.988166
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999  0.265279

[100 rows x 9 columns]

In [8]:
low = df['n'].quantile(0.05)
high = df['n'].quantile(0.95)


print(low + high)

1.0248740983597389