In [1]:
# 라이브러리 불러오기
import pandas as pd

path = "C:/Users/rapa/Desktop/빅데이터분석기사실기/basic2(t117).csv"

df = pd.read_csv(path)
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [12]:
# ** dt.dayofweek에 대해서 기억

# ** info를 통해 데이터 타입 확인
#** 날짜로 변환하는 코드 기억
# ** 년,월,일 추출 기억

# df.info()

df['Date'] = pd.to_datetime(df['Date'])

# df.info()

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['week'] = df['Date'].dt.dayofweek

df.head()
# week -> monday = 0; sunday = 6
# 평일: 0,1,2,3,4; 주말: 5,6


# 평일
days = df[(df['week']<5) & (df['year'] == 2022) & (df['month'] == 5)]['Sales'].mean()

# 주말
weeks = df[(df['week']>=5) & (df['year'] == 2022) & (df['month'] == 5)]['Sales'].mean()

print(days, weeks)

3683611.4545454546 6693950.555555556

In [21]:
round(abs(days - weeks),2)

3010339.1

In [14]:
# apply사용법
df['ssweek'] = df['week'].apply(lambda x: x>=5)

df['ssweek'].unique()

array([ True, False])