In [3]:
# 라이브러리 불러오기
import pandas as pd

path = "C:/Users/rapa/Desktop/빅데이터분석기사실기/basic2(t117).csv"

df = pd.read_csv(path)
df.head()
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

In [4]:
print(df.shape)
df.head()

(730, 4)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0

In [24]:
# ** 이 부분에 대해서 암기, 
# W = 주단위
# 2W = 2주단위
# M = 월단위

df_w = df.resample('W').sum()
df_w.head()


# max_v = 0
# for i in range(0, len(df)-7, 7):
#     print(j,i)
#     a = (df['Sales'].iloc[i:i+6].sum())
#     j = i
#     max_v = max(max_v, a)
# print(max_v)

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [25]:
max_ = df_w['Sales'].max()

min_ = df_w['Sales'].min()

print(max_ - min_)

91639050