In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path = "C:/Users/rapa/Desktop/빅데이터분석기사실기/train(t14).csv"
a = pd.read_csv(path)

a.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [2]:
data = a['SalePrice']
print(data)
# plt.plot(data)

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [5]:
# 왜도와 첨도 계산
# ** 왜도: skew() ; 첨도: kurt()

before_sk = data.skew()
before_ku = data.kurt()
print(before_sk, before_ku) # 변환전, 왜도와 첨도

1.8828757597682129 6.536281860064529

왜도와 관련된 내용이
skew (skewness)
첨도와 관련된 내용이
kurt (kurtosis)

In [4]:
# ** 스케일링 log1p
data = np.log1p(data)
after_sk = data.skew()
after_ku = data.kurt()
print(after_sk, after_ku) # 변환후, 왜도와 첨도

0.12134661989685333 0.809519155707878

In [5]:
round(before_sk + before_ku + after_sk + after_ku, 2)

9.35