In [9]:
import pandas as pd
import numpy as np

data = pd.read_csv("C:/Users/rapa/Desktop/빅데이터분석기사실기/basic1(t15).csv")

data.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [19]:
enfj_data = data[(data['f4'] == 'ENFJ')]['f1'].std()
#first = np.std(enfj_data)
#print(enfj_data)

infp_data = data[(data['f4'] == 'INFP')]['f1'].std()
#second = np.std(infp_data)
#print(second)

In [20]:
# print(np.abs(first-second))
print(np.abs(enfj_data-infp_data))

5.859621525876811