In [2]:
import pandas as pd

path = "C:/Users/rapa/Desktop/빅데이터분석기사실기/basic1(t18).csv"
a = pd.read_csv(path)
print(a.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [22]:
# 정답 방식이 아니다... 억지로 해결

data = a[a['f2'] == 1]['f1']

arr = []
sum_ = 0
for i in data:
    if str(i) != 'nan':
        sum_ += i
        arr.append(sum_)
    elif str(i) == 'nan':
        arr.append(arr[-1])
print(arr)
print(sum(arr)/len(arr))

[70.0, 131.0, 191.0, 292.0, 366.0, 416.0, 483.0, 483.0, 534.0, 534.0, 606.0, 681.0, 738.0, 772.0, 772.0, 849.0, 849.0, 924.0, 1002.0, 1084.0, 1084.0, 1084.0, 1084.0, 1170.0, 1170.0, 1222.0, 1318.0, 1318.0, 1414.0, 1464.0, 1514.0, 1514.0, 1580.0, 1658.0, 1658.0, 1701.0, 1754.0]
959.027027027027

In [19]:
# ** a[a['f2'] == 1]['f1'].cumsum() # 누적합을 계산하는 방법
# ** df2 = df2.fillna(method = 'bfill') # 뒤에 나오는 값으로 채우기
# ** bfill (backfill) ; ffill(forward fill): 전 값으로 채우기

df2 = a[a['f2']==1]['f1'].cumsum()
df2
# df2 = [a]

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [24]:
df2 = df2.fillna(method = 'bfill')

df2

C:\Users\rapa\AppData\Local\Temp\ipykernel_8632\2915504282.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2 = df2.fillna(method = 'bfill')

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16     534.0
19     534.0
20     606.0
21     606.0
22     681.0
25     738.0
27     772.0
33     849.0
35     849.0
37     924.0
46     924.0
49    1002.0
51    1084.0
53    1170.0
55    1170.0
58    1170.0
62    1170.0
65    1222.0
66    1222.0
69    1318.0
72    1414.0
77    1414.0
80    1464.0
82    1514.0
86    1580.0
88    1580.0
91    1658.0
93    1701.0
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [25]:
df2.mean()

980.3783783783783